*,
*::before,
*::after {
  box-sizing: border-box;
}

p,
h1,
h2 {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: Montserrat, sans-serif;
  font-size: 25px;
  line-height: 1.5;
  background: #f5f5f5;
}

.main {
  display: flex;
  flex-direction: column;
  gap: 150px;
  margin: 0 auto;
  max-inline-size: 900px;
}

.intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  margin-block-start: 2vh;
  font-family: "Shantell Sans", cursive;
  block-size: calc(100vh - 4vh);
}

.intro__block {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: space-between;
  align-items: center;
  inline-size: 100%;
}

.photocard {
  padding: 17px 17px 10px;
  box-shadow: 7px 7px 7px 0 rgb(0 0 0 / 0.2);
  background: #fcfbf0;
  inline-size: 230px;
}

.intro__block:first-of-type .photocard {
  transform: rotate(-5deg);
  animation: stagger-main 1.45s infinite linear alternate;
}

.intro__block:last-of-type .photocard {
  justify-self: end;
  transform: rotate(15deg);
  animation: stagger-other 2s infinite linear alternate;
}

.photocard__img {
  display: block;
  inline-size: 100%;
}

.photocard__name {
  padding-block-start: 10px;
  font-size: 18px;
}

.intro__img {
  justify-self: center;
  animation: stagger-main 2s infinite linear alternate;
  inline-size: 95px;
}

.intro__main__img {
  animation: stagger-main 2s infinite linear alternate;
  block-size: 60px;
}

.block {
  margin-block-end: 100px;
  text-align: center;
  transition:
    opacity 1.5s,
    transform 1.5s;
}

.block__title {
  margin-block-end: 45px;
  font-weight: 500;
  font-size: 45px;
  font-style: italic;
  letter-spacing: 0.02em;
}

.greeting__title {
  font-size: 40px;
}

.block__text:not(:last-of-type) {
  margin-block-end: 25px;
}

.greeting__date {
  display: block;
  margin: 0 auto 25px;
  box-shadow: 0 7px 7px 0 rgb(0 0 0 / 0.15);
  line-height: 75px;
  background: #fcfbf0;
  inline-size: 350px;
}

.greeting__img {
  margin: 150px 0;
  animation: stagger-other 2s infinite linear alternate;
  block-size: 150px;
}

.block__photocard {
  margin: 0 auto;
  padding: 25px 25px 50px;
  box-shadow: 0 7px 7px 0 rgb(0 0 0 / 0.2);
  background: #fcfbf0;
  inline-size: 400px;
  aspect-ratio: 1/1.4;
}

.block__photocard__img {
  display: block;
  object-fit: cover;
  object-position: center;
  inline-size: 100%;
  block-size: 100%;
}

.timing__period {
  display: flex;
  align-items: center;
  gap: 25px;
  margin: 0 auto;
  margin-block-start: 45px;
  inline-size: max-content;
}

.timing__img {
  object-fit: contain;
  object-position: center;
  inline-size: 100px;
}

.timing__main {
  line-height: 1;
  text-align: start;
  inline-size: 400px;
}

.timing__main__top {
  display: flex;
  gap: 50px;
  border-block-end: 1px solid #000;
  padding-block-end: 15px;
  font-style: italic;
}

.timing__numbers {
  margin-top: auto;
  font-weight: 700;
  font-size: 30px;
  block-size: min-content;
}

.timing__name {
  font-weight: 500;
  font-size: 27px;
  text-transform: uppercase;
}

.timing__text {
  margin-block-start: 15px;
  font-size: 22px;
}

.dresscode__palette {
  margin-block-start: 45px;
  inline-size: 450px;
}

.dresscode__img {
  display: block;
  margin: 150px auto 0;
  animation: stagger-main 1.45s infinite linear alternate;
  inline-size: 140px;
}

.location__photocard {
  margin: 45px auto;
  aspect-ratio: 1/1.3;
}

.location__link {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  border: 1px solid #000;
  color: #000;
  font-weight: 600;
  font-size: 22px;
  text-decoration: none;
  background-color: #fcfbf0;
  inline-size: 320px;
  aspect-ratio: 1/0.171875;
}

.location__link:focus {
  outline: none;
}

.block__no_margin {
  margin: 0;
}

.wishes__img {
  margin-block-start: 150px;
  animation: stagger-main 1.45s infinite linear alternate;
  block-size: 130px;
}

.confirmation__link {
  color: #000;
  font-weight: 600;
}

.confirmation__img {
  margin-block-start: 150px;
  animation: stagger-other 2s infinite linear alternate;
  block-size: 105px;
}

.timer__items {
  display: flex;
  flex-direction: column;
  gap: 25px;
  margin: 0 auto 45px;
  inline-size: max-content;
}

.timer__item {
  display: grid;
  grid-template-columns: 43px 147px;
  align-items: end;
  gap: 50px;
  font-weight: 700;
  font-size: 30px;
  font-style: italic;
}

.timer__item::after {
  content: attr(data-title);
  justify-self: start;
  font-weight: 500;
  font-size: 27px;
  text-transform: uppercase;
}

.block__photocard__name {
  margin-block-start: 40px;
  font-size: 20px;
}

@keyframes stagger-main {

  0% {
    transform: rotate(0deg);
  }

  50% {
    transform: rotate(5deg);
  }

  100% {
    transform: rotate(-5deg);
  }
}

@keyframes stagger-other {

  0% {
    transform: rotate(0deg);
  }

  50% {
    transform: rotate(4deg);
  }

  100% {
    transform: rotate(-4deg);
  }
}

@media only screen and (max-width: 900px) {

  body {
    font-size: 15px;
  }

  .main {
    gap: 80px;
    inline-size: 300px;
  }

  .intro {
    gap: 40px;
  }

  .photocard {
    inline-size: 200px;
  }

  .photocard__name {
    font-size: 12px;
  }

  .intro__img {
    inline-size: 40px;
  }

  .intro__block:first-of-type .intro__img {
    justify-self: end;
  }

  .intro__block:last-of-type .intro__img {
    justify-self: start;
  }

  .intro__main__img {
    block-size: 35px;
  }

  .block {
    margin-block-end: 50px;
  }

  .block__title {
    font-size: 30px;
  }

  .greeting__title {
    font-size: 24px;
  }

  .greeting__date {
    line-height: 50px;
    inline-size: 270px;
  }

  .greeting__img {
    margin: 80px 0;
    block-size: 115px;
  }

  .block__photocard {
    padding: 20px 20px 45px;
    inline-size: 300px;
  }

  .timing__period {
    inline-size: 100%;
  }

  .timing__img {
    inline-size: 60px;
  }

  .timing__main {
    inline-size: 100%;
  }

  .timing__main__top {
    gap: 25px;
  }

  .timing__numbers {
    font-size: 18px;
  }

  .timing__name {
    font-size: 16px;
  }

  .timing__text {
    font-size: 14px;
  }

  .dresscode__palette {
    margin: 45px 0 0 -10px;
    inline-size: 320px;
  }

  .dresscode__img {
    margin: 80px auto 0;
    inline-size: 100px;
  }

  .location__link {
    margin: 0 0 0 -10px;
    font-size: 14px;
  }

  .block__no_margin {
    margin: 0;
  }

  .wishes__img {
    margin-block-start: 80px;
    block-size: 100px;
  }

  .confirmation__img {
    margin-block-start: 80px;
    block-size: 75px;
  }

  .timer__item {
    grid-template-columns: 26px 88px;
    gap: 25px;
    font-size: 18px;
  }

  .timer__item::after {
    font-size: 16px;
  }

  .block__photocard__name {
    margin: 40px 0 0 -20px;
    font-size: 16px;
    inline-size: 300px;
  }
}
